//@import './variables.module.scss';
 
$buttonColor:#0d6efd;
$fontColor: rgb(83, 6, 134);;
$gradiant:rgb(2,0,36);
$backColor:rgb(247, 247, 242);
$linkColor:rgb(44, 44, 131);
$logo-font-size :24px;
$footerWidth: 100%;
$cardColor:rgb(116, 10, 187);
///$inputColor:rgb(21,107,163);
$labelColor:rgb(116, 136, 151);
$inputColor:#ddd;
$placeHolder:rgb(167, 164, 164);
$logofontsize:36px;
$headerWidth: 100%;
$formColor:rgb(6, 15, 117);
$black:black;
$white:white;



.inActive{display:none;}


    .acticle{
    margin: 0 auto;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: stretch;
    place-items: center;
    justify-content: center;
    position:relative;
    padding:0px;
    background-color:$backColor;
    float:center;
    align-items: center;
    overflow:  hidden;
    scrollbar-width: none;
     margin-bottom: 0;
        
    }
    
     
    .img{
        width: 100vw;
        height: auto;
        align-content: center;
        position:absolute;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        background-size: cover;
        background-attachment: fixed;
        background-repeat:  no-repeat;
        background-position: center;
        background-color: ($gradiant,09);
        margin-bottom: 50px;
        display:grid;
        grid-template-columns: subgrid;
        grid-column: 1;
      h1{
        margin-left: 5%;
        margin-top: 150px;
        padding:0;
        background: -webkit-linear-gradient($white, $white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
      
      
      }
      h3{
        margin: 5%;
        margin-top: 5px;
        margin-bottom: 50px;
        background: -webkit-linear-gradient($white, $buttonColor);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36x;
       
        
      }
      h2{
        margin-left: 5%;
        margin-top: 0px;
        padding:0;
        margin-bottom: 30px;
        background: -webkit-linear-gradient($white, $white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36x;
        
             }
       
    
      }
      
      .article1{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        position:absolute;
        margin-top:350px;
        display: inline-block;
        background-position: center;
        display:grid;
        grid-template-columns: subgrid;
        grid-column: 1;
        img{
          display: inline-block;
       
        }
        h3{
            background: -webkit-linear-gradient($cardColor, $gradiant);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 200;
            margin-bottom: 20px;
            font-size: 2rem;
       
          }
        p  {
            background: -webkit-linear-gradient($fontColor, $gradiant);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            justify-content: center;   
            margin-bottom: 30px;
            font-size: 1.3rem;
            display: inline-block;
           
        }

        .closerP{
          background: -webkit-linear-gradient($fontColor, $gradiant);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          justify-content: center;   
          margin: 5px;
          font-size: 1.3rem;
      }
         a {
          
          justify-content: center;
          margin-top:0px;
          margin-bottom: 0px;
          font-size: 1.3rem;
          color:$gradiant;
          &:hover{color:$buttonColor}
      }
     }
     .section1{
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      position:absolute;
      margin-top:2000px;
      background-repeat:  no-repeat;
      background-position: center;
      display:grid;
      grid-template-columns: subgrid;
      grid-column: 1;
      img{
            margin-bottom: 10px;
            font-size: 2rem; 
      }
      h3{
            background: -webkit-linear-gradient($cardColor, $buttonColor);
            background-clip: text;
            -webkit-text-fill-color: transparent;      
            font-weight: 300;
            margin-bottom: 20px;
            font-size: 2rem;
         
      }

      p  {
        background: -webkit-linear-gradient($fontColor, $gradiant);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        justify-content: center;   
        margin-bottom: 30px;
        font-size: 1.3rem;
     
    }

    .closerP{
      background: -webkit-linear-gradient($fontColor, $gradiant);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      justify-content: center;   
      margin: 0;
      font-size: 1.3rem;
  }

    a {
      font-size: 1.3rem;  
      color:$buttonColor;
    
  }
     }


     .six {
      position: absolute;
      margin-top:6700px;
      width: 100vw;
      height: 600px;
      background-attachment: fixed;
      background-size: cover;
      background-repeat:  no-repeat;
      background-position: center;
      background-color: $gradiant;
      display:grid;
      grid-template-columns: subgrid;
      grid-column: 1;
      align-items: center;
      align-content: center;
  }
  
  .footer{
    position: absolute;
    top:7450px;
    width: 100%;
    height: 500px;
    display:grid;
    grid-template-columns: subgrid;
    grid-column: 1;
  }
////}

@media only screen and ( min-width: 768px) and (max-width: 991px) {

  .section1{
    margin-top:2300px;
  }
  .six{
    margin-top:7500px;
  }
  .footer{
    top:8200px;
    z-index:20;
    background-color: $gradiant;
    background-size: 100%;
    background-position: center;
  }
}

@media only screen and  (min-width: 411px) and (max-width: 767px)  {
  .article1{
    margin-top:400px
  }
  .section1{
    margin-top:3500px;
  }
  .six{
    margin-top:11500px;
  }
  .footer{
    top:12250px;
    background-color: $gradiant;
    background-size: 100%;
    background-position: center;
    height: 800px;
  }
}

@media only screen and  (min-width: 280px) and (max-width: 410px)  {
  .article1{
    margin-top:400px
  }
  .section1{
    margin-top:4400px;
  }

  .six{
    margin-top:14800px;
  }
  .footer{
    top:15550px;
    background-color: $gradiant;
    background-size: 100%;
    background-position: center;
    height: 800px;
  }
}